.servicos-body{
    width: 100%;
    height: auto;
}

.title{
    box-sizing: border-box;
}

.no-margin{
    margin: 0px !important;
}

.formulario-servicos{
    width: 400px;
    height: auto;
    min-height: 500px;
    border: solid 1px rgb(207, 207, 207);
    border-radius: 8px;
    box-shadow: -5px 5px 3px rgba(0, 0, 0, 0.322);
    z-index: -5;
    box-sizing: border-box;
    padding: 15px;
}
.vertical-al-none{
    vertical-align: unset !important;
}
table td {
    vertical-align: unset !important;
}
.input-pequeno{
    width: 150px !important;

}
.orange-button{
    background-color: #FE8F6C !important;
    color:#FFF !important;
}
.orange-button:active{
    background-color: #cc5b36 !important;
}
.status-icon{
    width: 40px;
    height: 40px;
}
.helper-menu{
    width: 100% !important;
    height: 65px !important;
}
.helper-side-menu{
    width: 50px !important;
    height: 100vh !important;
    float: left;
}
.w95p{
    width: 95% !important;
}
