.servicos-body{
    width: 100%;
    height: auto;
}

.title{
    box-sizing: border-box;
}

.no-margin{
    margin: 0px !important;
}

.formulario-servicos{
    width: 400px;
    height: auto;
    min-height: 500px;
    border: solid 1px rgb(207, 207, 207);
    border-radius: 8px;
    box-shadow: -5px 5px 3px rgba(0, 0, 0, 0.322);
    z-index: -5;
    box-sizing: border-box;
    padding: 15px;
}
.vertical-al-none{
    vertical-align: unset !important;
}
table td {
    vertical-align: unset !important;
}
.input-pequeno{
    width: 150px !important;

}
.orange-button{
    background-color: #FE8F6C !important;
    color:#FFF !important;
}
.orange-button:active{
    background-color: #cc5b36 !important;
}
.status-icon{
    width: 40px;
    height: 40px;
}
.helper-menu{
    width: 100% !important;
    height: 65px !important;
}
.helper-side-menu{
    width: 50px !important;
    height: 100vh !important;
    float: left;
}
.w95p{
    width: 95% !important;
}
.date-time span{
    font-size: 18px;
    
}

.card-qtd-servicos{
    width: 330px;
    height: 180px;
    background-color: #6BC063;
    float: left;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 3px #24242442;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
}

.red-card{
    background-color: #E57272;
}

.blue-card{
    background-color: #7D96F0;
}

.card-qtd-servico-title{
    width: 100%;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
}   
.card-content-servicos{
    width: 100%;
    height: 100%;
    display: flex;
}
.card-content-help{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
}
.card-content-help img{
    width: 70%;
    height: 70%;
}