/* SIDE MENU */
.side-menu{
    width: 65px;
    height: 100% !important;
    position: fixed;
    background-image: linear-gradient(to right, #FFE49D, #FFD18C);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.178);
    transition: 500ms;
    z-index: 99;
}
.sair-empresa{
    width: 70px;
    height: 30px;
}
.item-side-menu{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: 500ms;
}
.item-side-menu img{
    width: 40px;
    height: 40px;
}
.item-side-menu h5{
    margin: 0 !important;
}
.item-side-menu:hover{
    cursor: pointer;
    background-color: #e0c47b;
}
.logo{
    width: 40px !important;
    height: 40px !important;
}

.separador{
    width: 80% !important;
    height: 1px !important;
    background-color: rgb(141, 141, 141);
    opacity: 0;
}
.hide-text{
    position: relative;
    left: -200px;
    transition: 400ms;
}
.show-text{
    position: absolute;
    left: 30px;
    transition: 400ms;
}

/* TOP MENU */

.top-menu{
    width: 100%;
    height: 65px;
    float: left;
    background-color: #FFD18C;
    display: flex;
    position: fixed;
    z-index: 10;
}
.top-menu button img{
    width: 20px;
    height: 20px;
}
.void{
    width: 65px;
    height: 65px;
}
.top-menu-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}
.menu-button{
    width: 40px;
    height: 35px;
    background-color: #F39034;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.288);
    transition: 500ms;
}
.menu-button img{
    width: 65%;
    height: 65%;
}
.date-time{
    width: 300px;
    height: 30px;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items:center;
}
.menu-aberto{
    width: 300px !important;
    transition: 500ms;
    align-items: center;
}

.menu-aberto h5{
    position: relative;
    left: 20px !important;
}
.margin-right{
    margin-left: 250px !important;
    transform:rotate(90deg);
    transition: 500ms;
}
.mostrarTexto{
    
    margin-left: 5px !important;
    transition: 500ms !important;
}


/* INDEX */
.main-body{
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 65px;

}
.helper{
    width: 70px;
    height: 100%;
    background-color: teal;
}
.empresas-body{
    width: 100%;
    height: auto !important;
    background-color: #FFF5F3;
    min-height: 100vh;
}
.title{
    width: 100%;
    height: 50px;
    font-size: 20px;
    border-bottom: solid 1px #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* CARD EMPRESA */

.card-empresa{
    width: 450px;
    height: 280px;
    margin-top: 30px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border:solid 1px #ccc;
    padding: 5px;
    box-shadow: 3px 3px 5px rgba(107, 107, 107, 0.452);
}
.linha{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.logo-empresa{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border:solid 1px #ccc;
    box-shadow: 3px 3px 5px rgba(107, 107, 107, 0.452);
    
}
.nome-empresa{
    width: 350px;
    height: 80px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-bottom: 10px;
}
.txt-underline{
    text-decoration: underline !important;
}
.linha-info{
    width: 100%;
    height: 170px;
    display: flex;
}
.categorias{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.rate{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
}
.rate-icon{
    width: 23px;
    height: 23px;
    background-image:url('../../../assets/animal.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right:0px;
    margin-left:0px;
}
.rate p{
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 17px;
    font-weight: bold;
}
.empresa{
    width: 100%;
    height: 100%;
    background:#e6e6e6;
    border-radius: 5px;
    border:solid 1px #aaaaaa;
}
.linha-empresa{
    width: 100%;
    height: 70%;
    display: flex;
    margin-bottom: 12px !important;
}
.coluna-empresa,
.coluna-empresa-right{
    width: 50%;
    height: 100%;
    padding: 5px;
}

.coluna-empresa-right{
    display: flex;
    justify-content: flex-end;
}
.closed{
    width: 130px !important;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 5px;    
}
.coluna-empresa h5{
    padding: 0px;
    margin: 0px;
    margin-bottom: 2px;
}
.coluna-empresa p{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}
.logo-empresa img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}