@keyframes floating{
    0%{
        top:10px
    }
    50%{
        top: 5px;
    }
    100%{
        top: 10px;
    }
}

@keyframes floating-inside{
    0%{
        top:60px
    }
    50%{
        top: 55px;
    }
    100%{
        top: 60px;
    }
}

/* Sessao 1 */
.sessao1{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-box{
    width:100%;
    height: 100%;
}

.logo-box img{
    width: inherit;
    height: inherit;
}
.text_titulo{
    font-size: 42px;
    padding-top: 40px;
    color:  white;
}

/* sessao 2 */

.sessao2{
    width: 100%;
    height: 500px;
    background-image: url('../../assets/cliente.png');
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: bottom;
}

.foto-app{
    width: 300px;
    height: 500px;
    margin-left: 100px;
    -webkit-box-shadow: 6px 6px 10px #999; 
	-moz-box-shadow: 6px 6px 10px #999;
	box-shadow: 6px 6px 10px #999;	
}

.foto-app img{
    width: inherit;
    height: inherit;
}

.text-app{
    font-size: 50px;
}

.box-qrcode{
    width: 300px;
    height: 600px;
    background-size: cover;
    position: fixed;
    top: 10px;
    right: 55px;
    font-size: 30px;
    text-align: center;
    background-image: url('../../assets/mobile.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    z-index: 99;
    box-shadow: 6px 6px 1px #4e4e4e75;
    border-radius: 40px;
}
.floating{
    animation: floating linear 1s infinite;
}
.floating-inside{
    animation: floating-inside linear 1s infinite;
}

.appScreen{
    width: 260px !important;
    height: 470px !important;
    position: fixed;
    top: 60px;
    right: 74px;
    float: left;
    border: solid 1px #c5c5c5;
    border-radius: 8px;
}

.box-qrcode img{
    width: 100%;
    height: 100%;
    margin-top: 5px;
}


.area-titulo{
    width: 100%;
    height: 100px;
    text-align: left;
    font-size: 60px;
}

.app-intro{
    font-size: 32px;
    text-align: justify;
}

/* Sessao 3 */
.sessao3{
    width: 100%;
    height: 600px;
    background-image: linear-gradient(#FFC296, #FFD18C);
}

.introducao-app{
    width: 100%;
    height: 100%;
    font-size: 24px;
}

.box-icon img{
    width:inherit;
    height: 450px;
    background-size: cover;
}
.img-helper,
.img-helper2{
    width: 300px;
    height: 300px;
    background-image: url('../../assets/empresa.png');
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: bottom;
}

/* sessao 4 */

.sessao4{
    width: 100%;
    height: 600px;
    background-image: url('../../assets/dog3.png');
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: bottom;
}
.sessao4 p,
.sessao5 p {
    font-size: 20px;
}

.tela-app{
    width: 280px;
    height: 480px;
    
}

.tela-app img{
    width: inherit;
    height: inherit;
    background-size: cover;
    -webkit-box-shadow: 6px 6px 10px #999; 
	-moz-box-shadow: 6px 6px 10px #999;
	box-shadow: 6px 6px 10px #999;	
}

/* sessao 5 */

.sessao5{
    width: 100%;
    height: 700px;
    background-image: linear-gradient(#FFC296, #FFD18C);
    
}
.img-helper2{
    background-image: url('../../assets/clientefeed.png') !important;
    background-size: contain !important;
    background-color: unset;
}

.txt-app{
    font-size: 30px;
}

.text-servicos{
    text-align: justify;
}