/* area do login */

 .login{
    width: 100vw;
    height: 100vh;
    
}

/* area foto */

#area_foto{
    width: 55%;
    height: 100vh;
    background-image: url('../../assets/catbg.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    float: left;
}

#area_form{
    width: 45%;
    height: 100vh;
    overflow: auto;
    float: left;
}

.logo_pet{
    width: 150px;
    height: 150px;
    background-image: url('../../assets/LogoApp.png');
    background-size: contain;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}

.titulo-pet{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 80px;
}

.form_login{
    margin-top: 50px;
}

.formulario{
    width: 100%;
    height: 100vh;
    margin-top: 30px;
}

.login .btn{
    width: 325px;
    height: 50px;
    background-color:#FE8F6C;
    color: #ffffff;
    font-weight: 900;
    padding: 0;
}
.login .btn a{
    color: #fff;
}
.titulo_form {
    text-align: center;
}

.titulo_form_right{
    text-align: right;
}
.titulo_form_right h5{
    font-size: 16px;
}
.titulo_form_right h5:hover{
    text-decoration: underline;
}
.titulo_form a{
    font-size: 18px;
    font-weight: bold;
}
.titulo_form a:hover{
    text-decoration: underline;
}
.errors-list{
    font-size: 15px;
}
